body {
    background-color: lightblue;
}
.card {
    color: rgb(5, 5, 96);
    background-color: rgb(107, 142, 230);
    border: 2px solid rgb(79, 185, 27);
    padding: 10px;
    margin: 0 0 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
h1 {
    display: flex;
    text-align: left;
    justify-content: flex-start;
}
h2 { 
    display: flex; 
    flex-direction: column;
    justify-content: flex-end; 
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

image {
    display: flex;
}
footer {
    text-align: center;
    color: red;
    font-size: medium;
    margin:0px;
}
p {
    display: inline-flex;
    color: brown;
}
